.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
 
}

::-webkit-scrollbar{
  width: 5px;
  background-color: mintcream;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(56, 56, 56);
  border-radius: 3px;
}